<section id = "awal" >

  <!-- <div id="nama">
    <h1 id="text-nama">Muhammad Arief Wibowo</h1>
  </div> -->

</section>

<section id="about">
	<div id="divs">
		<div id="div_fotoarief">
			<img id ="foto_arief" src="https://i.imgur.com/Moz3cCF.png" width="300" height="180">
		</div>
			
		<div id="div_namaarief">
			<h3 id = "yes" class="nama_arief">Hi ! My name is Muhammad Arief Wibowo</h3>
			<h3 class="nama_arief">I was born in Jakarta on June 8th 1998. My hobbies are playing futsal, badminton, and also computer. I am a person who easily make friends with anyone. I am a smiley person.Sometimes i can become an ambitious person when i do a job that i like :). </h3>
		</div>
		<hr>	
	</div>
	
</section>

<section id="edu">
	<div id="eduvs">
		<h1 id="text-education">Educations</h1>
		<br><br>
		<div id="list-education">
			<div class="row">
				<div class="col-md-3">
					<b><h3 class="tahun_education">2004 - 2010</h3></b><h3 class="nama_sekolah">SDS SUMBANGSIH GROGOL</h3> 		
				</div>
				<div class="col-md-3">
					<b><h3 class="tahun_education">2010 - 2013</h3></b><h3 class="nama_sekolah">SMPN 5 JAKARTA</h3>		
				</div>
				<div class="col-md-3">
					<b><h3 class="tahun_education">2013 - 2016</h3></b><h3 class="nama_sekolah">SMAN 1 JAKARTA</h3>		
				</div>
				<div class="col-md-3">
					<b><h3 class="tahun_education">2016 - </h3></b><h3 class="nama_sekolah">UNIVERSITAS INDONESIA</h3>		
				</div>
			</div>
		</div>
	</div>
</section>

<section id="exp">
	<h1 id="text_experience">Experience</h1>
	<br><br>
	<div id="list-experience">
		<div class="row">
			<div class="col-md-3">
				<b><h3 class="tahun_experience">2017</h3></b>
				<h3 class="nama_pengalaman">GRAPHIC DESIGNER</h3> 		
				<h6 class="explanation">Designing poster and twibbon "UI GOES TO BOEDOET"</h6>
			</div>
			<div class="col-md-3">
				<b><h3 class="tahun_experience">2017</h3></b>
				<h3 class="nama_pengalaman">STAFF OF STARTUP ACADEMY COMPFEST 9</h3>
				<h6 class="explanation">COMPFEST is the biggest IT's event in Indonesia which held by college student. Startup academy is part of COMPFEST which helping people who have a briliant idea to solve a problem in the form of Startup.</h6>		
			</div>
			<div class="col-md-3">
				<b><h3 class="tahun_experience">2017</h3></b>
				<h3 class="nama_pengalaman">CLASS OF WEB DEVELOPER(RISTEK OPEN CLASS)</h3>
				<h6 class="explanation">Learn front-end developer (HTML and CSS)</h6>		
			</div>
			<div class="col-md-3">
				<b><h3 class="tahun_experience">2018</h3></b>
				<h3 class="nama_pengalaman">PIC OF STARTUP ACADEMY COMPFEST X</h3>
				<h6 class="explanation">COMPFEST is the biggest IT's event in Indonesia which held by college student. Startup academy is part of COMPFEST which helping people who have a briliant idea to solve a problem in the form of Startup.</h6>		
			</div>
		</div>
	</div>
	

</section>