/*BEGIN OF HEADER*/
body{
	height: 100%;
}

nav{
	background : linear-gradient(141deg, #55889d 51%, #424a6a 75% );
}

.icon-bar{
	background-color: white;
	border: 1px solid white;
}

.navbar-toggle{
	border : 1px solid white;
	margin-top: 13px;
}

.navbar-toggle:hover{
	background-color: #00e6b8;
}

#navbar_menu{
	font-family: Kelson Sans;

}

a.navbar_list{
	padding: 20px;
	color: white;
	text-decoration: none;
	margin-top: 5px;
	margin-right: 10px;

}

a.navbar_list:hover{
	background-color: #00cc99;
	color: black;
	border-radius: 3px;

}



h1#MAW{
	color: white;
	font-family: 'Montserrat';
	text-align: center;
	margin-right: 20px;
	margin-top: 10px;
	padding-left: 10px;
	float: left;
}
.header{
	background-color: #00284d;
	padding: 12px;
	margin: 0;
}



/*END OF HEADER*/

/*BEGIN OF SECTION AWAL*/

#awal{
	background: url("https://design-milk.com/images/2014/12/BASE-Object-Desk-Accessories-7.jpg") center center fixed ;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	height: 650px;
	text-align: center;
	filter: blur(5px;);
}

#nama{
	color:#006699;
	font-family: "Montserrat";
	/*background-color: black;*/
	font-weight: bold;
	margin-top: 50px;
	height: 100px;
}

#text-nama{
	padding-top: 20px;
	padding-left: 420px;
}


/*END OF SECTION AWAL*/


/*BEGIN OF SECTION ABOUT*/
#about{
	height: 650px;
	/*background : linear-gradient(140deg, #0e5978 20%, #00b3b3 90% );*/
	background-color: white;

}

img#foto_arief{
	height : auto;
	border-radius: 50%;


}

#divs{
	
	width: 65%;
	margin: auto;
}

#div_fotoarief{
	text-align: center;
	
}
hr{

	color: #29a3a3;
	width: 180px;
	margin: auto;
}

#div_namaarief{
	background: white;
	border: 4px solid #29a3a3;
	height: 150px;

}

.nama_arief{
	text-align: center;
	font-family: "Righteous";
	color: #29a3a3;
	margin-bottom: 2px;
	font-size: 18px;
}

#yes{
	font-size: 20px;
}


/*END SECTION ABOUT*/

/*SECTION EDU*/
#edu{
	height: 650px;
	background-color: #f5f5f0;
}

#text-education{
	text-align: center;
	padding-top: 80px;
	font-family: "Montserrat";
	color: #00b3b3;
}

#list_education{
	margin: auto;
}

.tahun_education{
	color: white;
	font-size: 20px;
	background : linear-gradient(140deg, #ffff33 20%, #ff9933 90% );
	text-align: center;
	height: 50px;
	padding-top: 10px;
}

.nama_sekolah{
	text-align: center;
}


/*END SECTION EDU*/


/*BEGIN OF EXPERIENCE SECTION*/
#exp{
	height: 900px;
	background-color: white;
}

.tahun_experience{
	color: white;
	font-size: 20px;
	background : linear-gradient(140deg, #0e5978 20%, #00b3b3 90% );
	text-align: center;
	height: 50px;
	padding-top: 10px;
}

#text_experience{
	text-align: center;
	padding-top: 80px;
	font-family: "Montserrat";
	color: #00b3b3;
}

.nama_pengalaman{
	text-align: center;
}

.explanation{
	text-align: center;
	color: #00b3b3;

}
/*END SECTION EXPERIENCE*/

/*BEGIN OF FOOTER*/
footer{
	background-color: black;

	

}

h6{
	text-align: center;
	color: white;
	position: bottom;

}

#twitter, #in{
	height: 30px;
	width: 30px;
}
#in{
	margin-left: 5px;
}


#facebook{
	height: 40px;
	width: 40px;
}


#social{
	margin-top: 10px;
}


/*END OF FOOTER*/


@media screen and (min-width: 500px){
	#div_namaarief{
		text-align: center;

	}
}

@media screen and (max-width: 846px) {
    
    .nama_arief{
	text-align: center;
	font-family: "Righteous";
	color: #29a3a3;
	margin-bottom: 2px;
	font-size: 13px;
	}

	#yes{
	font-size: 18px;
}
    
}

@media screen and (max-width: 554px) {
    
    .nama_arief{
	text-align: center;
	font-family: "Righteous";
	color: #29a3a3;
	margin-bottom: 2px;
	font-size: 11px;
	}

	#social{
	margin-top: 10px;
	text-align: center;
	}
    
}

