{%load staticfiles%}
{%load static%}
<div class="container">
    <div class="row">
        <div id = "social" class="col-md-6">
          <a class="social_media" href="https://www.facebook.com/muhammad.arief.wibow" target="_blank" ><img title="Find Me on Facebook" src="{%static 'face.png'%}" alt="Arief's Facebook" id ="facebook"></a>  <!-- Facebook-->
          <a class="social_media" href="https://twitter.com/ArieffWibowo" target="_blank"><img id=twitter title="Find Me on Twitter" src="{%static '8800.png'%}" alt="Arief's Twitter"/> </a> <!-- Twitter --> 
          <a class="social_media" href="https://www.linkedin.com/in/m-ariefwibowo/" target="_blank"><img id=in src="{%static 'in.png'%}" title="Find Me on LinkedIn"></a>
        </div>     
    </div>

    <div>
        <h6> &copy; 2018. Muhammad Arief Wibowo. </h6>
    </div>
</div>