{%load staticfiles%}
{%load static%}
<nav class="navbar navbar-fixed-top bg-faded">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>  
            </button>

            <div>
                <h1 id="MAW">Portofolio</h1>
            </div>    
        </div>
         

        <div class="collapse navbar-collapse" id="navbar_menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about" class="navbar_list">About</a></li>
                <li><a href="#edu" class="navbar_list">Educations</a></li>
                <li><a href="#exp" class="navbar_list">Experience</a></li> 
            </ul>    
        </div>
    </div> 
</nav>