{%load static%}
{%load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/pt.css'%}">
    <link rel="shortcut icon" type="img/png" href="https://i.imgur.com/fjanLyK.png">
	<title>Muhammad Arief Wibowo</title>
</head>
<body>
	<header>
		{%block header%}
		{%include 'partials/header.html'%}
		{% endblock %}
	</header>

	<content>
		{%block content%}
		{%include 'portfolio.html'%}
		{% endblock %}
	</content>

	<footer>
		{%block footer%}
		{%include 'partials/footer.html'%}
		{%endblock%}
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>